# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'storage/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['parted', 'xfsprogs'],
        'lvm_pkgs': ['lvm2'],
        'zfs_pkgs': ['zfs-initramfs', 'zfs-zed', 'zfsutils-linux'],
        'zfs_kernel_pkg': 'zfs-dkms',
        'blockdev_root_path': '/dev/mapper'
    },
}
, grain="os_family"
, merge=salt['pillar.get']('storage:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.storage.update(os_family_map) %}

{## Merge in storage:lookup pillar ##}
{% set storage = salt['pillar.get'](
        'storage',
        default=default_settings.storage,
        merge=True
    )
%}
